{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
{% endblock %}
{% block content %}
<div class="container-fluid mt-3" text-align="center">
  {{macro displayQuoteList(quote)}}
  {% for quote in all_quotes%}
  <div class="quotequote">
    <p class="card-title"><strong>Category:
      </strong>{{quote.id}}</p>
    <p class="card-text"><strong>Add a quote:</strong> {{quote.quote}}</p>
    <p class="card-text"><strong>{{post.user}}</strong></p>

    {% for comment in post.comment %}
    <p>comment:{{comment.description}}</p>

    {%endfor%}
  </div>
  <div class="voting_kochi" id="1012">
    <div class="voting_btn">

      <p><a href='/comment/new/{{post.id}}'>comment</a></p>

    </div>
  </div>


  {% endfor %}
</div>
{% endblock%}